@font-face {
    font-family: 'Inter';
    font-style: normal;
    src: url(../../fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
    font-family: 'Inter';
    font-weight: bold;
    src: url(../../fonts/Inter/static/Inter-Bold.ttf);
}

.page{
 max-width: 1600px;
 margin: 0 auto;
 font-family: 'Inter';
 background-color:#2A2C2F;
 color: #FFFFFF;
}