.lead{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 984px;
    grid-template-rows: 256px 104px 1fr 22px;
    justify-content: center;
    max-width: 1600px;
}

@media screen and (min-width: 1024px) and (max-width: 1278px) {
    .lead{
        grid-template-columns: 928px;
        grid-template-rows: 248px 104px 1fr 22px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead{
       grid-template-columns: 100%;
       grid-template-rows: 248px 104px 1fr 22px;
    }
}

@media screen and (max-width: 767px) {
    .lead{
       grid-template-columns: 100%;
       grid-template-rows: 136px 56px 1fr 22px;
    }
}