.cover {
    width:calc(100% - 96px);
    max-width: 1184px;
    margin: 0 auto;
    background-image: url(../../images/__background-cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1279px) {
    .cover{
        width: 100%;
    } 
}